.template-chat {
    &__type {
        @include animatedSection;        

        &-content {
            display: block;
            padding-top: 16px;
            padding-bottom: 24px;
        }
    }
}

.unf-user-input__control--image{
    &--template-chat{
        width: 80px;
    }
}