.template-chat {
    &__type {
        @include animatedSection;        

        &-content {
            display: block;
            padding-top: 16px;
            padding-bottom: 24px;
        }
    }
}