.navbar {
  $navbar: &;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px 20px 22px;
  transition: all ease-in-out .3s;

  &__title{
    display: none;
    margin: 0 0 0 6px;
    color: $green-soft-4;
    font-size: 18px;
    font-weight: 600;
  }

  &__arrow{
    width: 14px !important;
    height: 14px !important;
    display: none !important;
  }

  &__channel-title{
    display: none;
    margin: 0;
    font-size: 18px;
    color: $black-7;
  }

  &__left,
  &__right{
    display: flex;
    align-items: center;
  }

  &__menu {
    cursor: pointer;
    height: 42px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 10px;
    border: solid transparent 1px;
    // border-color: $green-soft-4;
    border-radius: 50%;
    transition: all ease-in-out .2s;
    z-index: 10;

    $menu: &;
    &:hover{
      // border-color: $green-soft-4;
      background-color: #8df3c7;
    }

    &-container{
      width: 20px;
      position: relative;
      cursor: pointer;
    }

    &-bar {
      background-color: $green-soft-4;
      border-radius: 2px;
      display: block;
      width: 100%;
      height: 3px;
      animation-direction: reverse;

      &:nth-child(1) {
        // animation: outT 0.8s backwards;
      }

      &:nth-child(2) {
        margin: 3px 0;
        // animation: outM 0.8s backwards;
      }

      &:nth-child(3) {
        // animation: outB 0.8s backwards;
      }
    }

    &--change {
      #{$menu} {
        &-bar {
          &:nth-child(1) {
            animation: inT 0.8s forwards;
          }

          &:nth-child(2) {
            animation: inM 0.8s forwards;
          }

          &:nth-child(3) {
            animation: inB 0.8s forwards;
          }
        }
      }
    }
  }

  .group-chat {
    &__btn {
      &--create {
        display: none;
      }
    }
  }

  &__profile {
    display: flex;
    align-items: center;

    &-img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      box-shadow: 0 0 6px 0 $black-2;
      border: solid 2px $white;
      @include backgroundImg;
    }

    &-name {
      margin: 0 43px 0 16px;
      font-size: 14px;
      font-weight: 600;
      color: $green-soft-4;
    }

    &-menu {
      cursor: pointer;
      width: 24px;
      height: 24px;
      @include backgroundImg;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9IiMwNDc4NUIiIGZpbGwtcnVsZT0ibm9uemVybyI+CiAgICAgICAgPGNpcmNsZSBjeD0iMy4yNzMiIGN5PSIzLjI3MyIgcj0iMy4yNzMiLz4KICAgICAgICA8Y2lyY2xlIGN4PSIxMiIgY3k9IjMuMjczIiByPSIzLjI3MyIvPgogICAgICAgIDxjaXJjbGUgY3g9IjIwLjcyNyIgY3k9IjMuMjczIiByPSIzLjI3MyIvPgogICAgICAgIDxjaXJjbGUgY3g9IjMuMjczIiBjeT0iMTIiIHI9IjMuMjczIi8+CiAgICAgICAgPGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMy4yNzMiLz4KICAgICAgICA8Y2lyY2xlIGN4PSIyMC43MjciIGN5PSIxMiIgcj0iMy4yNzMiLz4KICAgICAgICA8Y2lyY2xlIGN4PSIzLjI3MyIgY3k9IjIwLjcyNyIgcj0iMy4yNzMiLz4KICAgICAgICA8Y2lyY2xlIGN4PSIxMiIgY3k9IjIwLjcyNyIgcj0iMy4yNzMiLz4KICAgICAgICA8Y2lyY2xlIGN4PSIyMC43MjciIGN5PSIyMC43MjciIHI9IjMuMjczIi8+CiAgICA8L2c+Cjwvc3ZnPgo=');
    }
  }

  &--fixed {
    position: fixed;
    width: calc(100% - 160px);
    left: 160px;
    z-index: 100;
    background-image: url('../img/bg-header@2x.png');
    @include backgroundImg;
    display: flex;
    box-shadow: 0 2px 8px 0 $black-8;
    animation: slideDown ease-in-out 0.4s;
    transition: all ease-in-out .3s;

    .group-chat {
      &__btn {
        &--create {
          display: block;
        }
      }
    }

    #{$navbar}{
      &__title,
      &__arrow,
      &__channel-title{
        display: block !important;
      }

      &__profile{
        border-left: solid 1px #a6cc9e;
        padding-left: 32px;
        margin-left: 32px;
        height: 48px;
      }
    }
  }
}