$green: #42B549;
$green-soft-1: #87D58B;
$green-soft-2 :#77db80;
$green-soft-3: #aee2b1;
$green-soft-4: #04785b;
$green-label: #daf5db;
$orange-label: #ffeaac;
$orange: #ca8600;
$orange-soft-1: #f5a623;
$gray-soft: #f8f8f8;
$gray-soft-1: #f4f4f4;
$gray-soft-2: #bdbdbd;
$gray-soft-3:#f7f8f9;

$black: #000000;
$black-3: rgba(0, 0, 0, 0.3);
$black-7: rgba(0, 0, 0, 0.7);
$black-5: rgba(0, 0, 0, 0.5);
$black-56: rgba(0, 0, 0, 0.56);
$black-54: rgba(0, 0, 0, 0.54);
$black-38: rgba(0, 0, 0, 0.38);
$black-2: rgba(0, 0, 0, 0.2);
$black-26: rgba(0, 0, 0, 0.26);
$black-25: rgba(0, 0, 0, 0.25);
$black-24: rgba(0, 0, 0, 0.24);
$black-18: rgba(0, 0, 0, 0.18);
$black-12: rgba(0, 0, 0, 0.12);
$black-15: rgba(0, 0, 0, 0.15);
$black-1: rgba(0, 0, 0, 0.1);
$black-8: rgba(0, 0, 0, 0.08);

$gray: #F3FEF3;
$gray-1: #f1f1f1;
$gray-border: #E0E0E0;
$gray-border-1: #EEE;
$gray-12: rgba(0, 0, 0, 0.12);

$white: #FFFFFF;
$white-224: rgb(224, 224, 224);
$white-4: rgba(255, 255, 255, 0.4);

$input-disabled: rgba(0, 0, 0, 0.04);

$error-color: #D50000;
$red-soft-1: #F05F68;
$red-soft-2: #FDEBEC;

$hover-button-action: #4FA149;
$hover-button-second: #F5F5F5;
$hover-dropdown: #f3fef3;