.auto-send-list {
    display: block;
    list-style-type: none;
    margin: 24px 0 40px 0;

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    &__text {
        font-size: 14px;
        color: $black-54;
        line-height: normal;
        margin-right: 24px;
    }

    &__select {
        display: block;
        width: 136px;
        text-align: left;
    }
}