.dialog-banned-user{
  .unf-user-dialog__body{
    overflow: auto;
  }
  $dialog: &;
  &__body{
    // padding-bottom: 32px;
  }
  &__input{
    position: absolute;
    width: 100%;
    padding: 0 32px;
    right: 0px;
    z-index: 1;
    margin: 0;
    overflow: hidden;
  }
  &__search{
    margin-top: 80px;
    &-empty{
      display: none;
      padding: 0px 0 80px;
      .empty{
        &-img{
          object-fit: contain;
          width: 120px;
          height: 120px;
          margin:  auto;
        }
        &-input{
          margin-top: 16px;
          display: block;
          font-size: 14px;
          color: $black-54;
        }
      }
    }
    &--empty{
      #{$dialog}{
        &__search{
          &-empty{
            display: block;
          }
        }
      }
    }

    &-result{
      display: none;
      padding-top: 24px;
      min-height: 305px;
      max-height: 305px;
      overflow: auto;
      .result{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        &:last-child{
          margin-bottom: 24px;
        }
        button{
          width: 80px;
        }
        &__container{
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &__img{
          width: 48px;
          height: 48px;
          margin-right: 16px;
          object-fit: cover;
          border-radius: 50%;
        }
        &__name{
          font-size: 14px;
          color: $black-54;
          max-width: 190px;
          @include ellipsis;
          b{
            color: $black-7;
          }
        }
        &__btn{
          min-width: 100px;
          justify-content: center;
          display: flex;
          &::before{
            width: 16px;
            height: 16px;
            margin-right: 8px;
            position: relative;
            display: inline-block;
            @include backgroundImg;
          }
          &--unban{
            color: $green;
            &::before{
              content: '';
              background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAgVBMVEUAAABV/1VJ20lNzE1A1UA72E49zkk3yEA8zEQ6xUI8y0Q5xkA2xUI3yEM5xkE3xkE4xz82xkA3xUE3xkA2xkA4xUA3xkE3xkE4xkA3xkE3xT82xkA3xT83xj83xj82xUA3xkA3xkA3xkA3xT82xT82xkA3xj82xkA3xUA3xUA2xT8jWy1SAAAAKnRSTlMAAwcKDA0VHB4fIihCRUdiZWdqa2yAgoacprW8wtHV2Nvg4+Xm7O3w9/v0/CS9AAAAjklEQVR4Aa3P166CQBDG8TlHBQsWsOjakRX1//4P6EgIIZm9IMbf1Wa+7BT5Xuy8d3GgXqJKmzgqzgSeiu8ehFvZ4Xbd7sa7/OUXPVNfPuHY10dSpNIyB24DUVPIpBE9gJVUsnayRU0kWX+coel2Qv1LQa2Q2h01DPxwqDQwY3QB8shuJX+zzf56MHf8yBsINxUdYQBA/AAAAABJRU5ErkJggg==');
            }
          }
          &--ban{
            color: $white;
            &::before{
              content: '';
              background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAWRJREFUSA3tk71KA0EURqPW2qUIBARbG7GwS8DKwrew9QFSBCvBxkewj6lT2MaHUBArq4iiIDZiEddzwixOlmR3ZZNG/OAks7N37u9OrfbnlSRJE3owCrhuLqRwHcErZOVe9SA4Mdt56lWuAs+2ZZ5GZQKsljGqYlMU4DrHed67nGPRK3qz3CEbKwRx2M5DXFf/gqJClrck0y24gAfow0qoqsV6AGlVrlu/yoQDx/AB6hk2gvMu6y83Mxrz3C0VBMOjzOGT4LzNvs4/oQMN2IV3UAbJrwSDOrxBrJ0QwFaoTnjW9may8xNkkFsFxmfhQPy3Hhzac2XmsXODWImauuGzLtrhjAzGmb0Gz0PYhlvYh0coFhm8TPKY/tnzJFtpi9Kem3k9vHMmqrBFXqSszoMTh+wglUFsi+3SuYMvNeRNDO8g1hMPaaZ+pmmQ2Ma90p/pGsYHcApXcA+XsLiLZkv+ZQe+AXaDhtMX0dG+AAAAAElFTkSuQmCC');
            }
          }
        }
      }
    }
    &--result{
      margin-top: 40px;
      #{$dialog}{
        &__search{
          &-result{
            display: block;
          }
        }
      }
    }
  }
}